{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "prettier",
    "promise"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-use-before-define": [1, "nofunc"],
    "no-undef": [1],
    "no-unused-vars": [1]
  }
}
